*
{
	box-sizing: border-box;
}
#degree-div{
	
	background: #00bfff ;
	

}
#m
{
	color: purple;
	text-decoration: none;
}
ul
{
	margin-left: 50px;
}
#bl
{
	color: purple;text-decoration: none;
}
#m:hover
{
	font-size: 5em;
	font-style: italic;
	color: salmon;
	text-decoration: none;
	


}

#bl:hover
{
	font-size: 5em;
	font-style: italic;
	color: salmon;
	text-decoration: none;
}
#b
{
	
font-size: 3em;

	padding: 0px;
	 color : purple;
	opacity: 1;
	font-size: 5em;
	font-weight: 5em;
	line-height: 30%;
	font-family: Ariel; 
	text-shadow: 1px 1px 1px #8888ee; 
	font-style: italic;
}
fieldset
{
	border: 1px solid black;
}
h1
{
	height: 200%;
	font
}
body
{
	background-color: #cccccc;
	background-color: hsla(0,200,50,0);

	background-attachment:fixed;
	background-image: url("9a05c9cdac69597fbac64cb51e0d614f.jpg");
}
#h{
	padding: 100px;
	margin :20px;

}
div
{
	margin:20px;
	margin-bottom: 20px;
	border: 2px solid black;
	padding:1px;
	
-moz-box-shadow: -5px -5px #777777;
-webkit-box-shadow: -5px -5px #777777;
box-shadow: -5px -5px #777777;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
}
form label
{
	font-style: italic;
}
#head{
	background: #ffffff;
	margin: 0px;
	padding: 0px;
		border: 1px solid black;
     float: left;

position: fixed;
top: 0px;
left: 0px;
width: 100%;
z-index: 10;
border:none;
min-width:500px ;

}
#dropdown
{
    display: inline-block;
  position: absolute;
  max-height: 500px;
}
#drop-content a
{
	padding: 20px;
	text-align: center;


}
#drop-content a:hover
{
	padding: 20px;
	background-color: #f1f1f1;

}
#drop-content
{
background-color: #ffffff;
display: none;
top: 20px;

width:auto;
height:auto;
box-shadow: 2px 2px 4px #f1f1f1;
position:absolute;

z-index: 10;
}
#dropdown:hover #drop-content
{
	display: block;

}
#college-div{
	background-color:  darkcyan ;

}
#image{
	background: #99eeee;

}
#games-div{
	background: lightskyblue ;

}
#table{
	background: #afeeee;
}
#form{
	background: palegreen;
}
footer{
	background: lightblue;
	border: 2px solid black;
	padding:20px;
}
#d
{
	font-size:large;
}
#sas
{
	padding-left: 50px;
}
ul li
{
	color: black;
}
#menu-id
{ 
	position: relative;left: 20px;
bottom: 10px;

}
ul a
{  
	 background-color: white;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	line-height: 0px;
 float: left;
    padding: 10px;

}
#dark

{
	position: relative;
	float: right;
	bottom: 10px;
	color: darkcyan;
	border:0px solid black;
}
#menu-id li{
	
display: inline;

visibility: none;
}
#italic{
	font-style: italic;
	font-size: x-large;
	font-weight: bolder;

}
#li
{
    padding-right:  10px;
	margin: 30px;
	width: 30%;
	height: 30%;
	
	position: absolute;
	float: left;
	z-index: 2;

}
#dark:hover
{
	border-bottom-width: 3px;
border-bottom-color: red;
background-image: linear-gradient(to bottom,white ,#66ffff)
}
#degree
{
	font-style: auto;
	font-size:xx-large;

}
#degree-para{
	
	border:1px solid black;
	
	width: 50%;
	height: 50%;
position: relative;\
left: 1px;
	float: right;
z-index: 2;

}
#AV
{
	border: 1px solid black;
	width: 50%;
	height: 50%;
	float: right;
	position: relative;
	left: 10px;
	z-index: 2px;
}
p
{

}
ul a
{
  color: darkcyan;
 border :0px solid black;
 transition: color 1s;
}
ul a:hover
{  
  background-image: linear-gradient(to bottom,white,lightpink);

	border-bottom-color: red;
	border-bottom-width: 3px;
	color: cyan;

	
	text-shadow: 1px 1px 2px steelblue;
}
 ul a
}
{
	color: red;
}
#wd2
{
	border: 2px dashed black;
	padding: 50px;
}
#fifa
{
	border: 2px dashed black;
	padding: 50px;
}
#Dishornored 
{
	border: 2px dashed black;
	padding: 50px;
}
#Hellblade
{
	border: 2px dashed black;
	padding: 50px;
}
input.date:hover
{
	background-color: green;
	padding: 10px

}

button:hover
{
   color:red;
   text-transform: uppercase;
   background-color: lightskyblue;


}
input:hover
{
	background-color: cyan;
}
#ll{
	width: 25%;
	height: 25%;
	display: none;	
	position: absolute;
	left:30px;
	top: 60px;
}#gh
{
	position: relative;
	display:inline;

}
#gh:hover #ll
{display: inline;
}

#inner
{
	visibility: hidden;
	z-index: 2;
}
#graph

{border:1px solid black;
	border-radius: 10px;
	background-color:lightblue;
visibility: visible;
width: 2000px;
height: 400px;
left: 0px; 
right: 0px;


position:relative;
}
#graph:hover #inner{

visibility: visible;	}



 #dot
 {
 	background-color: red;
 	border:1px solid black;
 	border-radius: 10px;
 	position: fixed;
 	position: center;
 	width: 20px;
 	height: 20px;
 	top: 100px;
 	left: 200px;
 	box-shadow: 2px 2px 4px #f1f1f1;


 }
 #dot1
 {
 	background-color: red;
 	border:1px solid black;
 	border-radius: 10px;
 	position: fixed;
 	position: center;
 	width: 20px;
 	height: 20px;
 	top: 100px;
 	left: 250px;
 	box-shadow: 2px 2px 4px #f1f1f1;


 }
 #dot2
 {
 	background-color: red;
 	border:1px solid black;
 	border-radius: 10px;
 	position: fixed;
 	position: center;
 	width: 20px;
 	height: 20px;
 	top: 100px;
 	left: 300px;
 	box-shadow: 2px 2px 4px #f1f1f1;



 }
 #dot3
 {
 	background-color: red;
 	border:1px solid black;
 	border-radius: 10px;
 	position: fixed;
 	position: center;
 	width: 20px;
 	height: 20px;
 	top: 100px;
 	left: 350px;
 	box-shadow: 2px 2px 4px #f1f1f1;


 }
 header
 {
 	position: relative;
 }
 
 #stop
 {
 	position: absolute; background-color: pink ;border:2px solid black ;
 right: 10px;
 bottom: 10px;
 	z-index: 30;
 }
 #degree::after
 {
    content: url("images.png")
    background-color:black;
    box-shadow: 1px 1px 3px #f0f0f0;
    position: absolute;
    height: 400px;
    width: 400px;
    z-index: 3;
    

 }
*:hover #dot{animation-name: chris;
animation-duration: 2s;animation-delay: .3s;
animation-timing-function: linear;

animation-iteration-count: infinite;

 }
 @keyframes chris
 {
 	0%
 	{
background-color:;
 	}
 	33.33%
 	{
 		background-color: cyan;
 		top: 100px;
 		left:50px;

 	}
66.66%
{
	background-color: purple;
	left: 50px;
	top: 300px;

 }
100%
{
	background-color:salmon;
	top: 300px;
	left: 200px;
	}

}
*:hover #dot1{animation-name: chris;
animation-duration: 2s;animation-delay: .3s;
animation-timing-function: linear;

animation-iteration-count: infinite;

 }
 @keyframes chris
 {
 	0%
 	{
background-color:;
 	}
 	33.33%
 	{
 		background-color: cyan;
 		top: 100px;
 		left:50px;

 	}
66.66%
{
	background-color: purple;
	left: 50px;
	top: 300px;

 }
100%
{
	background-color:salmon;
	top: 300px;
	left: 200px;
	}

}
*:hover #dot2{animation-name: chris;
animation-duration: 2s;animation-delay: .3s;
animation-timing-function: linear;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;

 }
 @keyframes chris
 {
 	0%
 	{
background-color:;
 	}
 	33.33%
 	{
 		background-color: cyan;
 		top: 100px;
 		left:50px;

 	}
66.66%
{
	background-color: purple;
	left: 50px;
	top: 300px;

 }
100%
{
	background-color:salmon;
	top: 300px;
	left: 200px;
	}

}
*:hover #dot3{animation-name: chris;
animation-duration: 2s;animation-delay: .3s;
animation-timing-function: linear;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;

 }
 ::selection
 {
color: pink;
 }
 @keyframes chris
 {
 	0%
 	{
background-color:;
 	}
 	33.33%
 	{
 		background-color: cyan;
 		top: 100px;
 		left:50px;

 	}
66.66%
{
	background-color: purple;
	left: 50px;
	top: 300px;

 }
100%
{
	background-color:salmon;
	top: 300px;
	left: 200px;
	}

}