#degree-div{
	
	background: #00bfff ;


}
#b
{

	padding: 1px;
	 color : purple;
	opacity: 1;
	font-size: 5em;
	font-weight: 5em;
	line-height: 30%;
	font-family: Ariel; 
	text-shadow: 10px 1px 3px #8888ee; 
	font-style: italic;
}
fieldset
{
	border: 1px solid black;
}
h1
{
	height: 200%;
}
body
{
	background-color: tomato;
	background-color: hsla(0,200,50,0);
	margin : 30px;
}
#h{
	padding: 6px;
	margin :20px;

}
div
{
	margin-bottom: 50px;
	border: 2px solid black;
	padding:10px;
}
form label
{
	font-style: italic;
}
#head{
	background: #008b8b;
	margin: 2px;
	margin-bottom: 50px;
		border: 2px solid black;
padding:30px;
}
#college-div{
	background-color:  darkcyan ;

}
#image{
	background: #99eeee;

}
#games-div{
	background: lightskyblue ;

}
#table{
	background: #afeeee;
}
#form{
	background: palegreen;
}
footer{
	background: lightblue;
	border: 2px solid black;
	padding:20px;
}
#d
{
	font-size:large;
}
#sas
{
	padding-left: 50px;
}
ul li
{
	color: black;
}
#menu-id{
	background-color: rgb(200,200,200);
	background-color: hsla(0,75,50,0.8);



	margin: 10px 1300px 50px 100px;
	border: 3px solid black;
	padding: 5px 5px 5px 20px;
}
#italic{
	font-style: italic;
	font-size: x-large;
	font-weight: bolder;

}
#li
{
	padding-left: 400px;
	margin: 30px;
}
#degree
{
	font-style: auto;
	font-size:xx-large;

}
#degree-para{
	margin:5px;
	border:2px solid black;
	padding:16px;
}

p
{

}
ul a:active
{
  color: darkcyan;

}
ul a:hover
{
	color: salmon;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px steelblue;
}
 ul a:visited
}
{
	color: red;
}
#wd2
{
	border: 2px dashed black;
	padding-left: 20px;
}
#fifa
{
	border: 2px dashed black;
	padding-left: 20px;
}
#Dishornored 
{
	border: 2px dashed black;
	padding-left: 20px;
}
#Hellblade
{
	border: 2px dashed black;
	padding-left: 20px;
}
input.date:hover
{
	background-color: green;
	padding: 10px

}
